@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url("https://use.typekit.net/ojv4ekx.css");
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');


$body-color: #eefbfb;
$body-color-dark: darken($body-color, 7%);
$button-color: #5ed8d8;
$dark-color: darken($button-color, 20%);

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
  margin-right: 0;
  overflow-x: hidden;
}

body {
	padding: 0;
	margin: 0;
	//font-family: "eurostile", sans-serif;
	//font-family: 'Kanit', sans-serif;
  //font-family: "Quicksand", sans-serif;
	font-family: "Roboto", sans-serif;
  background-color: $body-color;
  font-size: 1.2rem;

}


/*.center {
	display:flex;
	justify-content: center;
}
*/
img {
	/*border: 5px black solid;*/
	border-radius: 5px;
}

ul {
	
	background-color: $body-color;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
	//font-family: 'Europa', sans-serif;
	z-index:1; 
	list-style-type: none;
	margin: 0;
	padding: 0;
	//overflow: hidden;
	position: fixed;
  	top: 0;
    width: 100%;
  //display:flex;
  //justify-content: space-around;
}

li {

	display: inline;
	float: left;
	/*border-right: 1px solid #bbb;*/
}


// li:last-child {
//   	//border-right: none;
//   	/*border-left:1px solid #bbb;*/
// }

li a {
	//z-index: 10;
	position: relative;
  transition: transform .9s;
	text-decoration: none;
	display: block;
	padding: 10px 12px;
  color: black;
  margin-right: 1rem;
  border: 3px solid transparent;
}

li:last-child a {
  margin-right: 0;
}

.logo-spot {
  padding: 3px;
  border: 3px solid transparent;
  transition: transform .9s;
  //padding: 8px;
  img{
    padding: 3px;
    padding-top: 6px;
    //transition: transform .4s;
  }
  // img:hover {
  //  // border-radius: 3px;
  //   //background-color: $button-color;
    
  //   //filter: invert(98%) sepia(1%) saturate(494%) hue-rotate(232deg) brightness(118%) contrast(100%);  
     
  //   //transform: scale(1.08);
  // }
}

.logo-spot:hover{
  //background-color: $button-color;
  border: 3px solid $button-color;
  border-radius: 19px;
  box-shadow: 0px 0px 8px 2px rgba( 0, 0, 0, 0.2 );
  transform: translate(2px, 6px);
}
	

li a:hover{
	border-radius: 20px;
  //background-color: $button-color;
  border: 3px solid $button-color;
	//color: white;

	box-shadow: 0px 0px 8px 2px rgba( 0, 0, 0, 0.2 ); 
  transform: translate(2px, 6px);
  //background-color: lighten($body-color, 3%);

}

li:last-child a:hover {
	transform: translate(2px, 6px);  
}

.push{
	display: inline-flex;
	float: right;
}


footer {
	position: fixed;
  	right: 0;
  	bottom: 0;
}

footer svg{
	transition: transform .9s;
}
	
footer svg:hover {
	transform: translate(0px, -5px);
	//color: $button-color;
}

// This is for javascript scroll

html:not([data-scroll='0']) {
    	
  		ul {
				background-color: darken($body-color, 3%);
  			transition: box-shadow 0.3s ease-in-out;
        box-shadow: 0 0 .2em rgba(0, 0, 0, .5);
    	}
    
    	li a:hover {
        transform: none;
      }
      .logo-spot:hover {
        transform: none;
      }
}


a, a:hover, a:active, a:visted, a:focus {
  text-decoration: none;
}

.unselect {
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

#about {
	padding-top: 5rem;
	margin:0;
	background-color: $body-color-dark;
  // background-image: linear-gradient(
  //   0deg,
  //   $body-color 0%,
  //   $body-color-dark 100%
  // );
}

#contact, #upArrow {
	padding-top: 5rem;
	margin: 0px;
  margin-top: -1px;
	background-color: $body-color-dark;
}

//First Seperator

.separator {
  position: relative;
  width: 100%;
  height: 6rem;
}

.separator::before {
  position: absolute;
  //justify-content: center;
	content: "";
  width: 100%;
  height: 100%;
  background-color: $body-color;
  clip-path: polygon(100% 0, 0 0, 0 100%);
	
}

.separator::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: $body-color-dark;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  
}


//Second Seperator

.separatorEnd {

	margin: -1px;
  position: relative;
  width: 100%;
  height: 6rem;
  //transform: rotateY(180deg);
}

.separatorEnd::before {
  position: absolute;
  content:"";
  width: 100%;
  height: 100%;
  background-color: $body-color-dark;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}

.separatorEnd::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: clear;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  
}


.sepContact::before {

  //background-color: $body-color-dark;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}

.sepContact::after {
  //margin: 0;
  //background-color: clear;
  //clip-path: polygon(0 100%, 100% 0, 100% 100%);
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

.colorSwap::before {
  position: absolute;
  content:"";
  width: 100%;
  height: 100%;
  background-color: $body-color-dark;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}

.colorSwap::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: red;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  
}

.separator.reverse {
  transform: rotateY(180deg);
}

.fillers {
	font-family: 'Europa', sans-serif;
} 

.extLink {
  color: $dark-color;
  padding: 2px;
  margin: 2px;
}

.extLink:hover {
  color: white;
  background-color: $button-color;
  border-radius: 3px;

}

  /* For mobile phones: */
@media (max-width: 481px) {


	footer {
    //display: none;
  }

	.push{
		//float: none;
	}
}


@media (min-width: 1500px) {
  .w-20-xl { 
    width: 20% !important; 
  }
  .w-10-xl { width: 10%; }
  .w-30-xl { width: 30%; }
  .w-40-xl { width: 40%; }
}