@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


$body-color: #eefbfb;
$button-color: #5ed8d8;
$dark-color: darken(#5ed8d8, 20%);

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;

}

body {
	padding: 0;
	margin: 0;
	font-family: "eurostile", sans-serif;
	//font-family: 'Kanit', sans-serif;
	//font-family: 'Roboto', sans-serif;
  background-color: $body-color;
  font-size: 1.2rem;
}


/*.center {
	display:flex;
	justify-content: center;
}
*/
img {
	/*border: 5px black solid;*/
	border-radius: 5px;
}

ul {
	//box-shadow: 0px 0px 2px 2px rgba( 0, 0, 0, 0.2 ); 
	background-color: #eefbfb;
	z-index:1; 
	list-style-type: none;
	margin: 0;
	padding: 0;
	//overflow: hidden;
	position: fixed;
  	top: 0;
  	width: 100%;
}

li {

	display: inline;
	float: left;
	/*border-right: 1px solid #bbb;*/
}


li:last-child {
  	//border-right: none;
  	/*border-left:1px solid #bbb;*/
}

li a {
	//z-index: 10;
	position: relative;
	transition: transform .9s;
	text-decoration: none;
	display: block;
	padding: 8px;
	color: black;
	
}

li a:hover{
	border-radius: 3px;
	background-color: #5ed8d8;
	color: white;

	box-shadow: 0px 0px 8px 2px rgba( 0, 0, 0, 0.2 ); 
	transform: translate(2px, 6px);

}

li:last-child a:hover {
	transform: translate(0px, 6px);  
}

.push{
	display: inline-flex;
	float: right;
}


footer {
	position: fixed;
  	right: 0;
  	bottom: 0;
}

footer svg{
	transition: transform .9s;
}
	
footer svg:hover {
	transform: translate(0px, -5px);
	//color: $button-color;
}


html:not([data-scroll='0']) {
    	
  		ul {
				background-color: darken($body-color, 3%);
  			transition: box-shadow 0.3s ease-in-out;
        box-shadow: 0 0 .2em rgba(0, 0, 0, .5);
    	}
    
    	li a:hover {

				transform: none;
			}
}




a, a:hover, a:active, a:visted, a:focus {
  text-decoration: none;
}

  /* For mobile phones: */
@media (max-width: 420px) {


	footer {
    display: none;
  }

	.push{
		float: none;
	}
}


